@import "./custom.scss";

//can add scss from node_modules here

//font face here

html {
  overflow-y: auto !important;
}

#app {
  text-align: left !important;
  background: #fff;
}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.truncate-7 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.pointer {
  cursor: pointer;
}

.line3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line20 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20;
  line-clamp: 20;
  -webkit-box-orient: vertical;
}
.line5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
.text-white {
  color: #fff !important;
}


//CONTAINER RESPONSIVE

@media (min-width: 768px) {
  .container {
    width: 750px !important;
    max-width: 750px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px !important;
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1260px !important;
    max-width: 1260px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1260px !important;
    max-width: 1260px !important;
  }
}
@media (min-width: 1904px) {
  .container {
    width: 1260px !important;
    max-width: 1260px !important;
  }
}