// for reference
// https://vuetifyjs.com/en/features/sass-variables/#example-variable-file

$font-size-root: 14px;
$body-font-family: Merriweather;
$input-font-size: 14px;
$list-item-dense-title-font-size: 1rem;
